@import '../styles/_variables.scss';

.flag{
    @include font-headline-3;
    position: absolute;
    z-index: 3;
    background-color: $color-dark;
    width: max-content;
    padding: 15px;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: max-content;
    max-width: 280px;
}